@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components {
  @font-face {
      font-family: 'nature';
      src: url('./assets/fonts/NatureBeautyPersonalUse-9Y2DK.ttf') format('truetype');
  }

  .logo-text {
    @apply font-bold text-xl  md:text-3xl pb-12 text-blue-800 font-nature;
  }
}


.navbar {
    background-color: #f8f8f8;
  }
  
.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar-link {
    color: #333;
    text-decoration: none;
    margin-right: 1rem;
  }
  
  .navbar-link:hover {
    color: white;
  }