@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components {
  @font-face {
    font-family: 'nature';
    src: url('./assets/fonts/NatureBeautyPersonalUse-9Y2DK.ttf') format('truetype');
  }

  .logo-text {
    @apply font-bold text-xl md:text-3xl pb-12 text-blue-800 font-nature;
  }

  .error {
    @apply text-red-500 font-light text-left px-2 my-2 text-sm;
  }

  .form-input {
    @apply border border-black p-2 rounded-lg;
  }

  .form-label {
    @apply mt-6 mb-2 text-left text-sm font-light;
  }

  .button {
    @apply bg-blue-500 rounded-xl text-sm md:text-base md:mt-6 p-1 md:p-3 hover:bg-blue-600;
  }

  .logo-text {
    @apply font-bold text-xl md:text-3xl pb-12 text-blue-800 font-nature;
  }

  .loader {
    @apply m-auto w-screen h-screen;
  }

}


.navbar {
  background-color: #f8f8f8;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-link {
  color: #333;
  text-decoration: none;
  margin-right: 1rem;
}

.navbar-link:hover {
  color: white;
}